{% extends "layout.html" %}

{% block title %}
    Steps to Take
{% endblock %}

{% block main %}
    <div class="background">
        <img class="img-fluid" src="https://scx2.b-cdn.net/gfx/news/2015/healthyelder.jpg">
        <div class="content">
            <h1>Empowering Seniors with Cybersecurity</h1>
            <p>Protecting Their Peace of Mind</p>
        </div>
    </div>
    <hr>

    <h2><strong>What YOU can do!</strong></h2>
    <p></p>

    <div class="image-text-wrapper">
        <img src="static\images\owl-156933_1280.png" alt="owl" class="left-image">
        <div>
            <ul class="centered-text-list">
                <li><strong>Ensure</strong> all your devices are up to date</li>
                <li><strong>Passwords</strong> should include a mix of <strong>letters, numbers, and symbols</strong></li>
                <li>Ideally, <strong>passwords</strong> for different sites should be <strong>unique</strong></li>
                <li><strong>DO NOT </strong>click on suspicious links, which can expose your personal information to hackers</li>
                <li>Be <strong>attentive</strong>! If a <strong>popup</strong> claims your device is <strong>compromised</strong>, do not click on it</li>
                <li>Do not make payments using <strong>unsecured</strong> or <strong>public networks</strong></li>
            </ul>
        </div>
        <img src="static\images\knight-154537_1280.png" alt="knight" class="right-image">
    </div>

    <p></p>
    <div class="video-container">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/vTWywg4DVpg" title="Protecting Personal Privacy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <p></p>
    <hr>
    <footer class="left-align">
        <p>
            Information provided by 
            <a href="https://staysafeonline.org/resources/online-safety-basics/">Stay Safe Online</a>
            and
            <a href="https://www.ncoa.org/article/how-older-adults-can-improve-their-personal-cyber-security"> NCOA</a>
        </p>
    </footer>
{% endblock %}